@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-color: rgb(14, 142, 112) ;
     --primary-color-darker: rgb(3, 36, 28) ;
}

*{
 box-sizing: border-box;
 outline: 0;
 
}
body{
    margin: 0;
    padding: 0;
    background:var(--primary-color);
    font-family:'open-sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: floralwhite;
    padding: 20px;
    border-radius: 10px;
    
}
input,  label, button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}
input:focus{
    outline: 1px solid var(--primary-color);
}
button{
    border:none;
    background:rgb(144, 187, 79);
    color: rgb(27, 38, 49);
    font-size: 18px;
    font: weight 700px; ;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;

}
form button:hover{
    background: var(--primary-color-darker);
}
.normal { color: green; }
.abaixo-peso { color: orange; }
.acima-peso { color: red; }